@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000;
  --color-text: #fff;
}

text {
  color: var(--color-text);
}

@font-face {
  font-family: "PhosphorFill";
  src: local("PhosphorFill"), url(./assets/phosphor-icons/Fonts/fill/Phosphor-Fill.woff) format("woff");
}

@font-face {
  font-family: "PhosphorThin";
  src: local("PhosphorThin"), url(./assets/phosphor-icons/Fonts/thin/Phosphor-Thin.woff) format("woff");
}

@font-face {
  font-family: "PhosphorLight";
  src: local("PhosphorLight"), url(./assets/phosphor-icons/Fonts/light/Phosphor-Light.woff) format("woff");
}

@font-face {
  font-family: "Phosphor";
  src: local("Phosphor"), url(./assets/phosphor-icons/Fonts/regular/Phosphor.woff) format("woff");
}

@font-face {
  font-family: "PhosphorBold";
  src: local("PhosphorBold"), url(./assets/phosphor-icons/Fonts/bold/Phosphor-Bold.woff) format("woff");
}

@font-face {
  font-family: "PhosphorDuotone";
  src: local("PhosphorDuotone"), url(./assets/phosphor-icons/Fonts/duotone/Phosphor-Duotone.woff) format("woff");
}
